
.navbar {
   font-weight: 700;
   margin-bottom: 100px;
}

.navbar-brand {
    color: #ff9f1c;
    font-size: 2em;
    font-style: italic;
}

.signup-btn {
    background-color: #14213d;
    color: white;
}

h1 {
    font-weight: 900;
}

img {
    max-width: auto;
    height: auto;
}

p {
    font-weight: 700;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.join-btn {
    width:200px;
}

.login-btn {
    margin-right: 20px;
    cursor: pointer;
}

