
<app-header></app-header>
<hr>
<div class="big-container container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="row justify-content-xl-center">
                <div class="main-profile-container col-xs-12 col-md-auto">
                    <div class="profile-card-container">
                       <div 
                        class="profile-image-container" 
                        style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdh-7WGKhECkm5SXX_6FS1OxjEZiyEXSKIAQ&s');"
                        >
                            <h3>User</h3>
                            <p>email&#64;gmail.com</p>
                        </div>
                        <div class="personal-details-container">
                            <div class="instrument-container">
                                <p class="instrument">Instruments: Clarinet</p>
                                <div class="hr"></div>
                            </div>
                            <div class="bio-container">
                                <p class="bio">This is my bio</p>
                            <div class="hr"></div>
                            </div>
                            
                        </div>
                        <div class="profile-numbers-container">
                            <div class="numbers-container" style="width: 50%">
                                <h1>0</h1>
                                <p>Ensembles</p>
                            </div>
                            <div class="vl"></div>
                            <div class="numbers-container" style="width: 50%">
                                <h1>0</h1>
                                <p>Communities</p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-edit-container">
                        <img src="../../assets/account-circle.svg">
                        <div class="edit-info-container">                
                            <p>Darin</p>
                            <a class="edit-profile-link" title="Edit Profile">Edit Profile</a>              
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 col-xl-4 details-container">
                    
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <h4>My Ensembles (0)</h4>
                            <a class="add-group" routerLink="/ensembles-find" title="Add Ensemble">
                                <img src="../../assets/add.svg">
                            </a>
                        </div>
                        
                    </div>
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <h4>My Communities (0)</h4>
                            <a class="add-group" title="Add Community">
                                <img src="../../assets/add.svg">
                            </a>
                        </div>
                        
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>