
<app-header></app-header>
<hr>
<div class="big-container container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="row justify-content-xl-center">
                <div class="main-profile-container col-xs-12 col-md-auto">
                    <div class="profile-card-container">
                       <div 
                        class="profile-image-container" 
                        style="background-image: url('https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg');"
                        >
                            <div class="name-container">
                                <h3>{{ profile.firstName }}</h3>
                                <h3>{{ profile.lastName }}</h3>
                            </div>
                            
                            <p>{{ profile.email }}</p>
                        </div>
                        <div class="personal-details-container">
                            <div class="instrument-container">
                                <p class="instrument-title">Instruments: </p>
                                <div *ngFor="let instrument of profile.instruments; let i = index" class="instrument">
                                    <p *ngIf="i == profile.instruments.length - 1">
                                        {{ instrument.instrument }}
                                    </p>
                                    <p *ngIf="i < profile.instruments.length - 1">
                                        {{ instrument.instrument }},
                                    </p>
                                </div>
                                
                            </div>
                            <div class="hr"></div> 
                            <div class="bio-container">
                                <p class="bio">{{ profile.bio }}</p>
                                <div class="hr"></div>
                            </div>
                            
                        </div>
                        <div class="profile-numbers-container">
                            <div class="numbers-container" style="width: 50%">
                                <h1>0</h1>
                                <p>Ensembles</p>
                            </div>
                            <div class="vl"></div>
                            <div class="numbers-container" style="width: 50%">
                                <h1>0</h1>
                                <p>Communities</p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-edit-container">
                        <img src="../../assets/account-circle.svg">
                        <div class="edit-info-container">                
                            <div class="small-name-container">
                                <p>{{ profile.firstName }}</p>
                                <p>{{ profile.lastName }}</p>
                            </div>
                            <a class="edit-profile-link" title="Edit Profile">Edit Profile</a>              
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 col-xl-4 details-container">
                    
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <h4>My Ensembles (0)</h4>
                            <a class="add-group" routerLink="/ensembles-find" title="Add Ensemble">
                                <img src="../../assets/add.svg">
                            </a>
                        </div>
                        
                    </div>
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <h4>My Communities (0)</h4>
                            <a class="add-group" title="Add Community">
                                <img src="../../assets/add.svg">
                            </a>
                        </div>
                        
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>