<app-header></app-header>

<div class="row justify-content-center content-container">
    <div class="col-xs-12 col-md-10 col-lg-8 col-xxl-6">
        <h2>Ensembles</h2>
        <div class="options-container">
            <a><h3>Find</h3></a>
            <a><h3>Create</h3></a>
        </div>
        <div class="filters-container">
            <button type="button" class="btn filter-button">Any Size
                <img src="../../assets/chevron-down.svg">
            </button>
            <button type="button" class="btn filter-button">Any Genre
                <img src="../../assets/chevron-down.svg">
            </button>
            <button type="button" class="btn filter-button">Any Instrument
                <img src="../../assets/chevron-down.svg">
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    </div>
</div>
