hr {
    margin: 0;
    color: #B4B6B6;
}

.content-container {
    margin-top: 50px;
}

.inbox-container {
    border: 1px solid #B4B6B6;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.inbox-profile {
    width: 30%;
    height: 100%;
    border-right: 1px solid #B4B6B6;
}

.inbox-title {
    padding: 25px;
    border-bottom: 1px solid #B4B6B6;
}

h1 {
    font-weight: 800;
}

.inbox-message {
    width: 70%;
    height: 100%;
}

.empty-message-container {
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#B4B6B6;
}

.inbox-header-container {
    display: flex;
    flex-direction: column;
    height: 39.8vh;
    overflow: auto;
}

.inbox-header {
    border-bottom: 1px solid #B4B6B6;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.inbox-header:hover {
    background-color: #F6F6F6;
}

.profile-img {
    height: 30px;
    width: 30;
    border-radius: 50%;
}

.loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

