hr {
    margin: 0;
    color: #B4B6B6;
}

.title-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-weight: 600;
}

.host-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.host-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    height: fit-content;
}

.host-name {
    margin-top: -20px;
    margin-bottom: 0;
    font-weight: 600;
}

.content-container {
    height: 100vh;
    background-color: #F6F6F6;
    padding-top: 30px;
}

.big-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.important-info-container {
    background-color: white;
    height: fit-content;
    border-radius: 20px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;  
}