<app-header></app-header>
<hr>
<div class="row justify-content-center title-container">
    <div class="col-xs-12 col-md-10 col-lg-10 col-xxl-7">
        <!-- <h1>{{ ensemble.name }}</h1> -->
        <div class="host-container">
            <div>
                <img src="../../../assets/account-circle.svg">
            </div>
            <div class="host-details">
                <p>Hosted By</p>
                <!-- <p class="host-name">{{ host }}</p> -->
            </div>
        </div>
    </div>
</div>
<hr>