<app-header></app-header>
<hr>
<div class="row justify-content-center title-container">
    <div class="col-xs-12 col-md-10 col-lg-10 col-xxl-7">
        <h1>{{ ensemble.name }}</h1>
        <div class="host-container">
            <div class="small-pfp" setBackgroundImage [imageUrl]="host.profilePic"></div>
            <div class="host-details">
                <p>Hosted By</p>
                <p *ngIf="!hostMode" class="host-name">{{ host.firstName }} {{ host.lastName }}</p>
                <p *ngIf="hostMode" class="host-name">You</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center content-container">
    <div class="col-xs-12 col-md-10 col-lg-10 col-xxl-7">
        <div class="row justify-content-between">
            <div class="col-xs-12 col-md-7 col-lg-7 col-xxl-7 details-and-members">
                <div class="details-container">
                    <h4>Description</h4>
                    <p class="ensemble-description">{{ ensemble.description }}</p>
                </div>
                <hr>
                <div class="members-container">
                    <div class="members-container-title">
                        <h4 class="mb-3">Members</h4>
                        <div *ngIf="hostMode" (click)="onManageMembers()" class="mb-3 manage-btn-container">
                            <div *ngIf="!manageMode" class="manage-btn">Manage</div>
                            <div *ngIf="manageMode" class="manage-btn">Done</div>
                            <img *ngIf="!manageMode" class="manage-btn" src="../../../assets/edit.svg">
                        </div>
                    </div>
                    <div class="card-container">
                        <div *ngFor="let member of ensemble.members; let i = index" >
                            <div *ngIf="currentProfile.firstName == member.name" style="cursor: default" class="card">
                                <div class="card-img-top" setBackgroundImage [imageUrl]="member.profilePic"></div>      
                                <div class="card-text">You</div>
                                <div class="member-instrument">{{ ensemble.instrumentsHave[i].instrument }}</div>
                            </div>
                            <div *ngIf="currentProfile.firstName != member.name && !manageMode" class="card" (click)="onViewProfile(member)">
                                <div class="card-img-top" setBackgroundImage [imageUrl]="member.profilePic"></div>      
                                <div *ngIf="hostId == member['id']" class="card-text">{{ member.name }} (Host)</div>
                                <div *ngIf="hostId != member['id']" class="card-text">{{ member.name }}</div>
                                <div class="member-instrument">{{ ensemble.instrumentsHave[i].instrument }}</div>
                            </div>    
                            <div *ngIf="currentProfile.firstName != member.name && manageMode && i != confirmKickId" style="cursor: default" class="card">
                                <button (click)="onKick(i)" class="btn btn-danger kick-btn">Kick</button>
                                <p class="card-text">{{ member.name }}</p>
                            </div>   
                            <div *ngIf="i == confirmKickId" style="cursor: default" class="card">
                                <p>Confirm?</p>
                                <div class="confirm-btn-container">
                                    <button class="btn btn-danger">X</button>
                                    <button (click)="onConfirm(i, member)" class="btn btn-success">&#x2713;</button>
                                </div> 
                            </div>   
                        </div>
                    </div>
                    <div *ngIf="manageMode" class="disband-container">
                        <button class="btn btn-danger disband-btn" (click)="onDisband()">Disband Ensemble</button>

                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xxl-4" style="justify-content: center;">
                <div class="big-info-container">
                    <div class="important-info-container event-link-container">
                        <img src="../../../assets/note.svg">
                        <div>
                            <div>
                                {{ensemble.name}}
                            </div>
                            <div class="ensemble-location">
                                {{ ensemble.location }}
                            </div>
                        </div>
                        
                    </div>
                    <div class="important-info-container date-info-container">
                        <div>
                            <img src="../../../assets/clock.svg">  
                        </div>
                        <div class="date-and-time">
                            <div>
                                {{ensemble.date}}
                            </div>
                            <div>
                                {{ensemble.time}}
                            </div>
                        </div>
                    </div>
                    <div class="important-info-container chat-container">
                        <button type="button" class="btn chat-btn" [disabled]="!member" (click)="onChat()">
                            <img src='../../../assets/chat.svg'> Ensemble Chat
                        </button>
                        <div class="chat-warning" *ngIf="!member">You must be a member to access this ensemble's chat.</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!member" class="footer">
    <div class="left-side">
        <div class="footer-info">
            <div class="footer-date">
                <p>{{ ensemble.date }}</p>
                <p>{{ ensemble.time }}</p>
            </div>
            <p class="footer-ensemble-name">{{ ensemble.name }}</p>
        </div>
    </div>
   <div class="right-side">
        <button class="btn btn-join" (click)="openModal()">Request To Join</button>
   </div>
</div>
<div class="modal" (click)="closeModal()" (clickOutside)="closeModal()" *ngIf="requestSubmitted && !disbandMode" tabindex="-1" [ngStyle]="{'display': display}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body submitted-modal">
            <h1>Request Sent</h1>
            <img src="../../../assets/check.svg">
            <p class="submit-message">Click Anywhere to Continue</p>
        </div>
    </div>
</div>
<div class="modal" *ngIf="!requestSubmitted && !disbandMode" tabindex="-1" [ngStyle]="{'display': display}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Request To Join {{ ensemble.name }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="requestForm">
                <select 
                    class="form-select form-select-sm mb-2"
                    formControlName="instrument"
                >
                    <option class="default-option" selected>Choose an instrument</option>
                    <option *ngFor="let instrument of ensemble.instrumentsNeeded">
                        {{ instrument.instrument }}
                    </option>
                    
                </select>
                <textarea 
                    class="form-control" 
                    id="exampleFormControlTextarea1" 
                    rows="3" 
                    placeholder="Optional Message"
                    formControlName="message">
                </textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button-lg" (click)="closeModal()" class="btn btn-danger">Cancel</button>
            <button type="button-lg"[disabled]="!this.requestForm.valid" (click)="onRequest()" class="btn request-btn">Request</button>
        </div>
        </div>
    </div>
</div>
<div class="modal" *ngIf="disbandMode" tabindex="-1" [ngStyle]="{'display': disbandDisplay}" >
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Request To Join {{ ensemble.name }}</h5>
        </div>
        <div class="modal-body">
           <div>Confirm</div>
        </div>
        <div class="modal-footer">
            <button type="button-lg" (click)="closeModal()" class="btn btn-danger">Cancel</button>
            <button type="button-lg" (click)="onConfirmDisband()" class="btn request-btn">Request</button>
        </div>
        </div>
    </div>
</div>
