<app-header></app-header>
<hr>
<div class="row justify-content-center title-container">
    <div class="col-xs-12 col-md-10 col-lg-10 col-xxl-7">
        <h1>{{ ensemble.name }}</h1>
        <div class="host-container">
            <div>
                <img src="../../../assets/account-circle.svg">
            </div>
            <div class="host-details">
                <p>Hosted By</p>
                <p class="host-name">{{ host }}</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center content-container">
    <div class="col-xs-12 col-md-10 col-lg-10 col-xxl-7">
        <div class="row justify-content-between">
            <div class="col-xs-12 col-md-7 col-lg-7 col-xxl-7 details-and-members">
                <div class="details-container">
                    <h4>Description</h4>
                    <p class="ensemble-description">{{ ensemble.description }}</p>
                </div>
                <hr>
                <div class="members-container">
                    <div>
                        <h4 class="mb-3">Members</h4>
                    </div>
                    <div class="card">
                        <img src="https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg" class="card-img-top" alt="...">      
                        <p class="card-text">Darin</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xxl-4" style="justify-content: center;">
                <div class="big-info-container">
                    <div class="important-info-container event-link-container">
                        <img src="../../../assets/note.svg">
                        <div>
                            <div>
                                {{ensemble.name}}
                            </div>
                            <div class="ensemble-status">
                                {{ensemble.status}} group
                            </div>
                        </div>
                        
                    </div>
                    <div class="important-info-container date-info-container">
                        <div>
                            <img src="../../../assets/clock.svg">  
                        </div>
                        <div class="date-and-time">
                            <div>
                                {{ensemble.date}}
                            </div>
                            <div>
                                {{ensemble.time}}
                            </div>
                        </div>
                    </div>
                    <div class="important-info-container">
                        <button type="button" class="btn chat-btn" (click)="onChat()">
                            <img src='../../../assets/chat.svg'> Ensemble Chat
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="left-side">
        <div class="footer-info">
            <div class="footer-date">
                <p>{{ ensemble.date }}</p>
                <p>{{ ensemble.time }}</p>
            </div>
            <p class="footer-ensemble-name">{{ ensemble.name }}</p>
        </div>
        <div class="status-container">
            {{ ensemble.status }}
        </div>
    </div>
   <div class="right-side">
        <button class="btn btn-join">Request To Join</button>
   </div>
</div>
