<div class="inbox-message">
    <div class="message-title">Request To Join {{ request.ensembleName }}</div>
    <div class="user-info-big">
        <div class="profile-pic" setBackgroundImage [imageUrl]="request.profilePic"></div>
        <div class="user-info-small">
            <div class="user-name">{{ request.firstName }} {{ request.lastName }}</div>
            <div class="user-instrument">{{ request.instrument }}</div>
            <a (click)="onViewProfile()" class="view-profile">View Profile</a>
        </div>
    </div>
    <div class="message">
        <div>{{ request.message }}</div>
    </div>
    <div class="btn-container-w-warning">
        <div class="button-container">
            <button class="btn btn-danger" (click)="onDecline()">
                Decline
            </button>
            <button class="btn btn-success" [disabled]="spotsTakenError == requestNum" (click)="onAccept()" >
                Accept
            </button>
        </div>
        <div *ngIf="spotsTakenError == requestNum" class="spots-filled-warning">
            <div>Spots for this instrument have been filled.</div>
        </div>
    </div>
    
    
</div>
<div class="modal" (click)="closeModal()" *ngIf="acceptMode"  tabindex="-1" [ngStyle]="{'display': display}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body submitted-modal">
            <h1>{{ request.firstName }} {{ request.lastName }} has officially joined {{ request.ensembleName }}!</h1>
            <img class="modal-img" src="../../../assets/celebration.svg">
            <p class="submit-message">Click Anywhere to Continue</p>
        </div>
    </div>
</div>
