.inbox-message {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    text-align: center;
}

.message-title {
    font-weight: 800;
    color: #006e90;
    font-size: 15px;
}

.profile-pic {
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    background-size: cover;
}

.user-info-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.user-info-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.user-name {
    font-size: 15px;
}

.user-instrument {
    color:#6C6D6D;
    font-size: 10px;
}

.view-profile {
    font-size: 10px;
    color: #006e90;
    cursor: pointer;
}

.message {
    height: 4vh;
    overflow: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

button {
    font-size: 10px;
}

@media (min-width: 700px) {
    .inbox-message {
        padding: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        text-align: center;
    }

    .message-title {
        font-weight: 800;
        color: #006e90;
        font-size: 30px;
    }

    .profile-pic {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        background-size: cover;
    }
    
    .user-info-big {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .user-info-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    
    .user-name {
        font-size: 30px;
    }
    
    .user-instrument {
        color:#6C6D6D;
        font-size: 20px;
    }
    
    .view-profile {
        font-size: 10px;
        color: #006e90;
        cursor: pointer;
    }
    
    .message {
        height: 5vh;
        overflow: auto;
    }
    
    .button-container {
        display: flex;
        flex-direction: row;
        gap: 2vh;
    }

    button {
        font-size: 15px;
    }
}

.modal {
    background: rgba(0,0,0, .5);
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-header{
    display: flex;
    justify-content: center;
}

.modal-img {
    max-width: 20vh;
}

.submitted-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.submit-message {
    color: #B4B6B6;
}