.navbar {
    font-weight: 700;
    margin-bottom: 0px;
}

.navbar-brand {
    color: #f18f01;
    font-size: 2em;
    font-style: italic;
    margin-left: 10px;
}

.signup-btn {
    background-color: #14213d;
    color: white;
}

.nav-item {
    margin-right: 20px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    right: 10px;
    top: 70px;
    overflow: auto;
    background-color: white;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    border: 1px solid #e3e3e3;
    color:#6C6D6D;
}

.dropdown-item {
    margin-bottom: 5px;
    cursor: pointer;
}