.content-container {
    padding-top: 50px;
}

h2{
    font-weight: 600;
}

h3 {
    font-size: 25px;
}



.options-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.curr-page {
    font-weight: 600;
    color: #006e90;
    text-decoration: underline;
    cursor: pointer;
}

.find-page-link {
    color: #6C6D6D;
    text-decoration: none;
}

.btn-next {
    font-weight: 700;
    background-color: #006e90;
}


.form-control.ng-touched.ng-invalid {
    border:1px solid red;
}

.warning-message {
    color: red;
    font-style: italic;
    font-size: 13px;
}

.control {
    width: 100%;
}

.create-btn {
    color: white;
    background-color: #006e90;
    font-weight: 600;
    width: 100%;
}

@media (min-width: 700px) {
    .control {
        width: 75%;
    }

    .create-btn {
        color: white;
        background-color: #006e90;
        font-weight: 600;
        width: 75%;
    }
}




select {
    font-size: medium;
    font-weight: 700;
}

.confirm-btn {
    background-color: #006e90;
    color: white;
}

.size-container {
    display: flex;
}

.confirm-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.description-rec {
    font-weight: 400;
    font-size: small;
    margin-bottom: 0px;
}

