<app-header></app-header>
<div class="row justify-content-center content-container">
    <div class="col-xs-12 col-md-10 col-lg-7 col-xxl-5">
        <h2>Ensembles</h2>
        <div class="options-container">
            <a routerLink="/ensembles-find" class="find-page-link"><h3>Find</h3></a>
            <h3 class="curr-page">Create</h3>
        </div>
        <form [formGroup]="ensembleForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3 control">
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" 
                    placeholder="Ensemble Name"
                    formControlName="name">
                <label for="name">Ensemble Name</label>
            </div>
            <div class="form-floating mb-3 control">
                <input 
                    type="date" 
                    class="form-control" 
                    id="date" 
                    formControlName="date">
                <label for="name">Date</label>
            </div>
            <div class="form-floating mb-3 control">
                <input 
                    type="time" 
                    class="form-control" 
                    id="time" 
                    formControlName="time">
                <label for="name">Time</label>
            </div>
            <div class="description-container">
                <p class="description-rec">*Recommended to include music piece title in description</p>
                <div class="form-floating mb-3 control">
                    <textarea class="form-control" 
                    id="description" 
                    placeholder="Description"
                    formControlName="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="form-floating mb-3 control size-container">
                <input 
                    type="number" 
                    class="form-control" 
                    id="size" 
                    placeholder="1"
                    formControlName="size">
                <label for="size">Size</label>
                <div type="button" class="btn confirm-btn" (click)="onChangeSize()">Confirm</div>
                
            </div>
            <div class="mb-3 control" formArrayName="instruments" *ngFor="let instConrol of controls; let i = index">
                <div class="form-group" [formGroupName]="i">
                    <label for="instrumentList" class="form-label">Instrument</label>
                    <input 
                        class="form-control" 
                        list="datalistOptions" 
                        id="instrumentList" 
                        placeholder="Type to search..."
                        formControlName="instrument">
                    <datalist id="datalistOptions">
                        <option value="Accordion">
                        <option value="Alto Saxophone">
                        <option value="Baritone Saxophone">
                        <option value="Bass Clarinet">
                        <option value="Bass Guitar">
                        <option value="Bassoon">
                        <option value="Cello">
                        <option value="Clarinet">
                        <option value="Double Bass">
                        <option value="Drumset">
                        <option value="Euphonium">
                        <option value="Flute">
                        <option value="French Horn">
                        <option value="Guitar">  
                        <option value="Harp">
                        <option value="Marimba">
                        <option value="Oboe">
                        <option value="Organ">
                        <option value="Piano">
                        <option value="Piccolo">
                        <option value="Recorder">
                        <option value="Soprano Saxophone">
                        <option value="Timpani">
                        <option value="Triangle">
                        <option value="Trombone">
                        <option value="Trumpet">
                        <option value="Tuba">
                        <option value="Ukelele">
                        <option value="Vibraphone">
                        <option value="Viola">
                        <option value="Violin">
                        <option value="Xylophone">
                    </datalist>
                </div>
               
            </div>
            <div class="mb-3 control">
                <select 
                    class="form-select form-select-lg"
                    formControlName="genre"
                    >
                    <option class="default-option" selected>Select a Genre</option>
                    <option value="Baroque">Baroque</option>
                    <option value="Choir">Choir</option>
                    <option value="Classical">Classical</option>
                    <option value="Contemporary">Contemporary</option>
                    <option value="Country">Country</option>
                    <option value="Romantic">Romantic</option>
                    <option value="Folk">Folk</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Rock">Rock</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        id="flexRadioDefault1"
                        value="Open"
                        formControlName="status">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Public
                    </label>
                  </div>
                <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    id="flexRadioDefault2"
                    value="Invite-Only"
                    formControlName="status">
                <label class="form-check-label" for="flexRadioDefault2">
                    Private
                </label>
                </div>
            </div>
            <button type="submit" class="btn create-btn">Create</button>
        </form>
    </div>
</div>