
<app-header></app-header>
<hr>
<div class="big-container container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="row justify-content-center">
                <div class="main-profile-container col-xs-12 col-md-auto">
                    <div class="profile-card-container">
                       <div
                        class="profile-image-container" 
                        style="background-image: url('{{profile.profilePic}}'); background-size: 90%;"
                        >
                            <div class="name-container">
                                <h3>{{ profile.firstName }}</h3>
                                <h3>{{ profile.lastName }}</h3>
                            </div>
                            
                            <p>{{ profile.email }}</p>
                        </div>
                        <div class="personal-details-container">
                            <div class="instrument-container">
                                <p class="instrument-title">Instruments: </p>
                                <div *ngFor="let instrument of profile.instruments; let i = index" class="instrument">
                                    <p *ngIf="i == profile.instruments.length - 1">
                                        {{ instrument.instrument }}
                                    </p>
                                    <p *ngIf="i < profile.instruments.length - 1">
                                        {{ instrument.instrument }},
                                    </p>
                                </div>
                                
                            </div>
                            <div class="hr"></div> 
                            <div class="bio-container">
                                <p class="bio">{{ profile.bio }}</p>
                                <div class="hr"></div>
                            </div>
                            
                        </div>
                        <div class="profile-numbers-container">
                            <div class="numbers-container" style="width: 50%">
                                <h1>{{ profile.ensembles.length - 1}}</h1>
                                <p *ngIf="profile.ensembles.length - 1 == 0">Ensemble</p>
                                <p *ngIf="profile.ensembles.length - 1 > 0">Ensembles</p>
                            </div>
                            <div class="vl"></div>
                            <div class="numbers-container" style="width: 50%">
                                <h1>0</h1>
                                <p>Communities</p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-edit-container">
                        <img src="../../assets/account-circle.svg">
                        <div class="edit-info-container">                
                            <div class="small-name-container">
                                <p>{{ profile.firstName }}</p>
                                <p>{{ profile.lastName }}</p>
                            </div>
                            <a class="edit-profile-link" title="Edit Profile">Edit Profile</a>              
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-7 col-xl-6 col-xxl-5 details-container">
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <div class="title-with-number">
                                <h4>{{ profile.firstName}}'s Ensembles</h4>
                                <h4>({{ profile.ensembles.length - 1 }})</h4>
                            </div>
                            <a class="add-group" routerLink="/ensembles-find" title="Add Ensemble">
                                <img src="../../assets/add.svg">
                            </a>
                        </div>
                        <div class="card-container">
                            <div *ngFor="let ensemble of ensembles; let i = index" (click)="onViewEnsemble(ensemble)" class="card">
                                <div class="card-text">{{ ensemble.name }}</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <h4>{{ profile.firstName}}'s Recordings</h4>
                        </div>
                        <div class="video-container">
                            <div *ngFor="let video of profile.videos">
                                <iframe [src]="video.video | embed | safe:'resourceUrl'" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>