<li 
    class="list-group-item" 
    *ngIf="ensemble.size - ensemble.members.length > 0 && (matchFilters)">
    <div class="ensemble-container">
        <div class="main-container">
            <div class="when-container">
                <div>{{ ensemble.date }}</div>
                <div>-</div>
                <div>{{ ensemble.time }}</div>
            </div>
            <div class="ensemble-location">{{ ensemble.location }}</div>
            <a (click)="onGetDetails()" class="stretched-link"><h3>{{ ensemble.name }}</h3></a>
        </div>
        <div class="content-container">
            <div class="details-container">
                <p>Ensemble Size: </p>
                <h5>{{ ensemble.size }}</h5>
                <p>Spots Remaining: </p>
                <h5>{{ ensemble.size - ensemble.members.length }}</h5>
            </div>
            <div class="details-container">
                <p>Genre:</p>
                <h5>{{ ensemble.genre }}</h5>
            </div>
            
            <div class="instruments-container">
                <p>Instruments Needed:</p>
                <ul>
                    <li *ngFor="let instrument of ensemble.instrumentsNeeded">
                        {{ instrument.instrument }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>