

.list-group-item {
    border-left: 0px;
    border-right: 0px;
}

.ensemble-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h3 {
    font-weight: 600;
    color: #006e90;
}

.when-container {
    display: flex;
    flex-direction: row;
    color: #6C6D6D;
    gap: 5px;
}


.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1vw;
}

@media (min-width: 700px) {
    .ensemble-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .main-container {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    h3 {
        font-weight: 600;
        color: #006e90;
    }

    .when-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #6C6D6D;
    }
}

p {
    color: #6C6D6D;
}

.instruments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    font-size: smaller;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}