
.navbar {
   font-weight: 700;
   margin-bottom: 100px;
}

.navbar-brand {
    color: #f18f01;
    font-size: 2em;
    font-style: italic;
    margin-left: 10px;
}


.signup-btn {
    background-color: #006e90;
    color: white;
    font-weight: 600;
}

h1 {
    font-weight: 900;
}

.intro-message {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.make-music {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.music-emphasis {
  color: #f18f01;
}

.make-friends {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.friends-emphasis {
    color: #006e90;
}

.nonemphasis {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 700;
}

.intro-main-container {
    margin-bottom: 10vh;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.join-btn {
    width:200px;
}

.login-btn {
    margin-right: 20px;
    cursor: pointer;
}

h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

.how-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-box {
    background-color: rgb(0, 110, 144, 0.1);
    height: fit-content;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    cursor: pointer;
    margin-bottom: 20px;
}

.how-box:hover {
    background-color: rgb(0, 110, 144, 0.2);
    height: fit-content;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    cursor: pointer;
}



@media (min-width:700px) {
    .how-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .how-box {
        background-color: rgb(0, 110, 144, 0.1);
        height: fit-content;
        padding: 30px;
        width: 49%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: start;
        cursor: pointer;
    }

    .how-box:hover {
        background-color: rgb(0, 110, 144, 0.2);
        height: fit-content;
        padding: 30px;
        width: 49%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: start;
        cursor: pointer;
    }
}





.how-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.how-title {
    font-size: 20px;
}

.how-message {
    font-weight: 500;
    color: #6C6D6D;
}

.how-link {
    color: #006e90;
}