
<app-header></app-header>
<hr>
<div *ngIf="isLoading" class="big-container container-fluid">
    <div class="loading-container">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>
<div class="big-container container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div *ngIf="!isLoading" class="row justify-content-center">
                <div class="main-profile-container col-xs-12 col-md-auto">
                    <div class="profile-card-container">
                        <div class="profile-image-container" setBackgroundImage [imageUrl]="profile.profilePic">
                            <div class="name-container" style="z-index: 1">
                                <h3>{{ profile.firstName }}</h3>
                                <h3>{{ profile.lastName }}</h3>
                            </div>
                            
                            <p>{{ profile.email }}</p>
                        </div>   
                        <div class="personal-details-container">
                            <div class="instrument-container">
                                <p class="instrument-title">Instruments: </p>
                                <div *ngFor="let instrument of profile.instruments; let i = index" class="instrument">
                                    <p *ngIf="i == profile.instruments.length - 1">
                                        {{ instrument.instrument }}
                                    </p>
                                    <p *ngIf="i < profile.instruments.length - 1">
                                        {{ instrument.instrument }},
                                    </p>
                                </div> 
                            </div>
                            <div class="hr"></div> 
                            <div class="bio-container">
                                <p class="bio">{{ profile.bio }}</p>
                                <div class="hr"></div>
                            </div>
                        </div>
                        <div class="profile-numbers-container">
                            <div class="numbers-container" style="width: 50%">
                                <h1>{{ profile.ensembles.length - 1 }}</h1>
                                <p *ngIf="profile.ensembles.length - 1 == 1">Ensemble</p>
                                <p *ngIf="profile.ensembles.length - 1 > 1 || profile.ensembles.length - 1 == 0">Ensembles</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="homeMode" class="profile-edit-container">
                        <div class="small-pfp" setBackgroundImage [imageUrl]="profile.profilePic"></div>
                        <div class="edit-info-container">                
                            <div class="small-name-container">
                                <p>{{ profile.firstName }}</p>
                                <p>{{ profile.lastName }}</p>
                            </div>
                            <a class="edit-profile-link" (click)="onEdit()" title="Edit Profile">Edit Profile</a>              
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-7 col-xl-6 col-xxl-5 details-container">
                    <div class="specific-container">
                        <div class="specific-container-title">
                            <div *ngIf="homeMode" class="title-with-number">
                                <h4>My Ensembles</h4>
                                <h4>({{ profile.ensembles.length - 1 }})</h4>
                            </div>
                            <div *ngIf="!homeMode" class="title-with-number">
                                <h4>{{ profile.firstName }}'s' Ensembles</h4>
                                <h4>({{ profile.ensembles.length - 1 }})</h4>
                            </div>
                            <a class="add-group" routerLink="/ensembles-find" title="Add Ensemble">
                                <img src="../../assets/addcircle.svg">
                            </a>
                        </div>
                        <div class="card-container">
                            <div *ngFor="let ensemble of profileEnsembles; let i = index" (click)="onViewEnsemble(ensemble)" class="card">
                                <div class="card-text">{{ ensemble.name }}</div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="specific-container">
                        <div *ngIf="homeMode && profile.recordings" class="specific-container-title">
                            <h4>My Recordings</h4>
                        </div>
                        <div *ngIf="!homeMode && profile.recordings" class="specific-container-title">
                            <h4>{{ profile.firstName }}'s' Recordings</h4>
                        </div>
                        <div *ngIf="homeMode && !profile.recordings" class="specific-container-title">
                            <h4>Edit Profile To Add Recordings</h4>
                        </div>
                        <div *ngIf="!homeMode && !profile.recordings" class="specific-container-title">
                            <h4>No Recordings Yet</h4>
                        </div>
                        <div *ngIf="profile.recordings" class="carousel slide">
                            <div class="carousel-inner">
                              <div *ngFor="let recording of profile.recordings; let i = index" [ngClass]="i == sliderCounter ? 'active' : ''" class="carousel-item">
                                <iframe [src]="recording.recording | embed | safe:'resourceUrl'" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                              </div>
                            </div>
                            <button *ngIf="sliderCounter != 0" class="carousel-control-prev" (click)="onPrev()" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button *ngIf="sliderCounter != profile.recordings.length - 1" class="carousel-control-next" (click)="onNext()" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>