<h1>Ensemble</h1>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-3">
        <h2>Set Up Your Profile</h2>
        <form>
            <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first-name">
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last-name">
            </div>
            <div class="mb-3">
                <label for="instrumentList" class="form-label">Instrument(s)</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Accordion">
                    <option value="Alto Saxophone">
                    <option value="Baritone Saxophone">
                    <option value="Bass Clarinet">
                    <option value="Bass Guitar">
                    <option value="Bassoon">
                    <option value="Cello">
                    <option value="Clarinet">
                    <option value="Double Bass">
                    <option value="Drumset">
                    <option value="Euphonium">
                    <option value="Flute">
                    <option value="French Horn">
                    <option value="Guitar">  
                    <option value="Harp">
                    <option value="Marimba">
                    <option value="Oboe">
                    <option value="Organ">
                    <option value="Piano">
                    <option value="Piccolo">
                    <option value="Recorder">
                    <option value="Soprano Saxophone">
                    <option value="Timpani">
                    <option value="Triangle">
                    <option value="Trombone">
                    <option value="Trumpet">
                    <option value="Tuba">
                    <option value="Ukelele">
                    <option value="Vibraphone">
                    <option value="Viola">
                    <option value="Violin">
                    <option value="Xylophone">
                </datalist>
                <button type="button" class="btn btn-add">Add</button>
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Bio</label>
                <input type="text" class="form-control" id="last-name" placeholder="100 character max">
            </div>
            <hr>
            <h3>Show Off Your Talent!</h3>
            <div class="mb-3">
                <label for="video-recording" class="form-label">Video Recordings (Optional)</label>
                <input type="text" class="form-control" id="video-recording" placeholder="YouTube Link">
                <button type="button" class="btn btn-add">Add</button>
            </div>
            <div class="mb-3">
                <label for="mp3-recording" class="form-label">MP3 Recordings (Optional)</label>
                <input class="form-control" type="file" id="mp3-recording">
                <button type="button" class="btn btn-add">Add</button>
            </div>
            <hr>
            <div class="row">
                <button type="submit" (click)="onSubmit()" class="btn btn-submit">Sign up</button>
            </div>
        </form>
    </div>
</div>
