h1 {
    font-weight: 700;
    color: #ff9f1c;
    font-size: 2em;
    font-style: italic;
    margin-left: 0.75rem;
    margin-top: 1.1rem;
}

h2 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.btn-add {
    font-weight: 700;
    background-color: #ff9f1c;
    margin-top: 10px;
}

h3 {
    font-weight: 700;
    text-align: center;
}

.btn-submit {
    font-weight: 700;
    background-color: #ff9f1c;
}

.progress-bar {
    background-color: #ff9f1c;
}