.content-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    .content-container {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
}

h1 {
    font-weight: 700;
    color: #f18f01;
    font-size: 2em;
    font-style: italic;
    margin-left: 22px;
    margin-top: 18px;
    cursor: pointer;
}

.loading-container {
    width: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.form-control.ng-touched.ng-invalid {
    border:1px solid red;
}

.warning-message {
    color: red;
    font-style: italic;
    font-size: 13px;
}

h2 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;

}

.btn-add {
    font-weight: 700;
    background-color: #006e90;
    color: white;
    margin-top: 10px;
}

h3 {
    font-weight: 700;
    text-align: center;
}

.btn-submit {
    font-weight: 700;
    background-color: #006e90;
    color: white;
}

.progress-bar {
    background-color: #f18f01;
}

.btn-add {
    margin-top: 0px;
}

.control-array-container {
    display: flex;

}

.input-w-delete {
    width: 98%;
}

.main-divider {
    border-top: 5px solid black;
}

.profile-pic-sample {
    height: 30%;
    width: 30%;
}