<h1 routerLink="/home">Ensemble</h1>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-3">
        <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
        <h2>Set Up Your Profile</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="col-xs-auto col-md-auto">
                <div class="warning-message" *ngIf="!profileForm.controls['firstName'].valid && profileForm.controls['firstName'].touched">This field must be filled.</div>
            </div>
            <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="first-name"
                    formControlName="firstName">
            </div>
            <div class="col-xs-auto col-md-auto">
                <div class="warning-message" *ngIf="!profileForm.controls['lastName'].valid && profileForm.controls['lastName'].touched">This field must be filled.</div>
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="last-name"
                    formControlName="lastName">
            </div>
            <!-- <div class="col-xs-auto col-md-auto">
                <div class="warning-message" *ngIf="!profileForm.controls['instruments'].valid && profileForm.controls['instruments'].touched">This field must be filled.</div>
            </div> -->
            <div class="mb-3 control" formArrayName="instruments" *ngFor="let instControl of instrumentControls; let i = index">
                <div class="form-group" [formGroupName]="i">
                    <div class="col-xs-auto col-md-auto">
                        <div class="warning-message" *ngIf="!instControl.valid && instControl.touched">This field must be filled.</div>
                    </div>
                    <label for="instrumentList" class="form-label">Instrument</label>
                    <div class="control-array-container">
                        <input 
                        class="form-control input-w-delete" 
                        list="datalistOptions" 
                        id="instrumentList" 
                        placeholder="Type to search..."
                        formControlName="instrument">
                        <button type="button" *ngIf="instrumentControls.length > 1"class="btn btn-danger" (click)="onDeleteInstrument(i)">X</button>
                    </div>
                    <datalist id="datalistOptions">
                        <option value="Accordion">
                        <option value="Alto Saxophone">
                        <option value="Baritone Saxophone">
                        <option value="Bass Clarinet">
                        <option value="Bass Guitar">
                        <option value="Bassoon">
                        <option value="Cello">
                        <option value="Clarinet">
                        <option value="Double Bass">
                        <option value="Drumset">
                        <option value="Euphonium">
                        <option value="Flute">
                        <option value="French Horn">
                        <option value="Guitar">  
                        <option value="Harp">
                        <option value="Marimba">
                        <option value="Oboe">
                        <option value="Organ">
                        <option value="Piano">
                        <option value="Piccolo">
                        <option value="Recorder">
                        <option value="Soprano Saxophone">
                        <option value="Timpani">
                        <option value="Triangle">
                        <option value="Trombone">
                        <option value="Trumpet">
                        <option value="Tuba">
                        <option value="Ukelele">
                        <option value="Vibraphone">
                        <option value="Viola">
                        <option value="Violin">
                        <option value="Xylophone">
                    </datalist>
                </div>
            </div>
            <button type="button" (click)="onAddInstrument()" class="btn btn-add mb-3">Add</button>
            <div class="mb-3">
                <label for="last-name" class="form-label">Bio (Optional)</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="last-name" 
                    placeholder="100 character max"
                    formControlName="bio">
            </div>
            <hr class="main-divider">
            <h3>Show Off Your Talent!</h3>
            <div class="mb-3" formArrayName="videos" *ngFor="let videoControl of videoControls; let i = index">
                <div class="form-group" [formGroupName]="i">
                    <div class="col-xs-auto col-md-auto">
                        <div class="warning-message" *ngIf="!videoControl.valid && videoControl.touched">This field must be filled.</div>
                    </div>
                    <label for="video-recording" class="form-label">Video Recordings (Optional)</label>
                    <div class="control-array-container">
                        <input 
                        type="text" 
                        class="form-control input-w-delete" 
                        id="video-recording" 
                        placeholder="YouTube Link"
                        formControlName="video"
                    >
                    <button type="button" *ngIf="videoControls.length > 1"class="btn btn-danger" (click)="onDeleteVideo(i)">X</button>
                    </div>
                </div>
                <button type="button" (click)="onAddVideo()" class="btn btn-add">Add</button>
            </div>
            <hr>
            <div class="mb-3" formArrayName="recordings" *ngFor="let recordingControl of recordingControls; let i = index">
                <div class="form-group" [formGroupName]="i">
                    <div class="col-xs-auto col-md-auto">
                        <div class="warning-message" *ngIf="!recordingControl.valid && recordingControl.touched">This field must be filled.</div>
                    </div>
                    <label for="mp3-recording" class="form-label">MP3 Recordings (Optional)</label>
                    <div class="control-array-container">
                        <input 
                        class="form-control input-w-delete" 
                        type="file" 
                        id="mp3-recording"
                        formControlName="recording">
                        <button type="button" *ngIf="recordingControls.length > 1"class="btn btn-danger" (click)="onDeleteRecording(i)">X</button>
                    </div>
                </div>
                <button type="button" (click)="onAddRecording()" class="btn btn-add">Add</button>
            </div>
            <hr>
            <div class="row">
                <button type="submit" [disabled]="!profileForm.valid" class="btn btn-submit">Finish</button>
            </div>
        </form>
    </div>
</div>
