<h1>Ensemble</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-3 signup-form-container">
            <h2>Sign up for free</h2>
            <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-next">Next</button>
                <hr>
                <h3>Or</h3>
                <button class="btn btn-outline-orange">
                    Sign Up With Google
                </button>
              </form>
        </div>
    </div>
</div>
