h1 {
    font-weight: 700;
    color: #ff9f1c;
    font-size: 2em;
    font-style: italic;
    margin-left: 0.75rem;
    margin-top: 1.1rem;
}

h2 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.btn-next {
    font-weight: 700;
    background-color: #ff9f1c;
}

.btn-outline-warning {
    border-color: #ff9f1c;
    color: #ff9f1c;
    font-weight: 700;
}

h3 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    font-size: 100%;
}



.google-signup-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.registered-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.login-link {
    text-decoration: underline;
    color:#ff9f1c;
    cursor: pointer;
}

.home-link {
    text-decoration: none;
}